.currency-converter {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;

    mat-card-title {
        font-weight: 600;
        text-align: center;
    }

    .result-card {
        text-align: center;
        background-color: white;
        box-shadow: none;

        mat-card-content {
            padding-top: 0;
            margin-top: 0;
        }
      }
      
      .currency {
        color: #015cbb;
        font-size: 1.2rem;
      }
}

.currency-form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    mat-form-field {
        padding: 8px;
        max-width: 200px;
    }
}

@media (max-width: 780px) {
    .currency-form {
        margin: 0;
        mat-form-field {
            max-width:auto;
        }
        .currency {
            font-size: 12px;
        }
    }
}